.home-adm {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    header {
        display: flex;
        align-items: center;
        height: 10%;
        width: 100%;
        background-color: #0D263E;

        img {
            height: 90%;
            margin-left: 3.5vw;
        }
    }
    
    .div-geral {
        display: flex;
        flex-direction: row;
        width: 100%;

        .div-principal {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 2em; 
            width: 100%;
            
            .assoc{
                margin-top: 2em;
            }

            h1 {
                font-family: 'Open-Sans-SemiBold';
                color: #3d3d3d;
                margin-bottom: 10vh;
            }
        }
    }
}

@media (max-width: 1280px) {
    .home-adm {
        display: flex;
        flex-direction: column;
        height: 100vh;
        
        header {
            display: flex;
            align-items: center;
            height: 10%;
            width: 100%;
            background-color: #0D263E;
    
            img {
                height: 90%;
                margin-left: 3.5vw;
            }
        }
        
        .div-geral {
            display: flex;
            flex-direction: row;
            width: 100%;
    
            .div-principal {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-top: 2em; 
                width: 100%;

                .thead{
                    margin-right: 3em;

                    .container-1{
                        justify-content: space-around;
                        width: 90vw;
                        display: flex;

                        .id{
                            margin-left: 2em;
                        }
                    }
                }
                
                .assoc{
                    margin-top: 2em;
                }
    
                h1 {
                    font-family: 'Open-Sans-SemiBold';
                    color: #3d3d3d;
                    margin-bottom: 10vh;
                }
            }
        }
    }
}