.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40Vh;
    padding: 5vh;
    background-color: #0D263E;
    
    .div1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: 30%;

        .logo {
            height: 13vh;
        }

        p {
            color: #cccccc;
            font-family: 'Open-Sans-SemiBold';
        }

        .div-social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 15%;
            width: 30%;
            img{
                height: 2em;
                width: 2em;
            }
        }
    }

    .div2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: 30%;

        h2 {
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
        }

        h3 {
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
        }

        p {
            color: #d7d7d7;
            font-family: 'Open-Sans-SemiBold';
        }
    }
}

@media (max-width: 1280px) {
    .rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40Vh;
        padding: 5vh;
        background-color: #0D263E;
        
        .div1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;
            width: 30%;
    
            .logo {
                height: 8vh;
            }
    
            p {
                color: #cccccc;
                font-family: 'Open-Sans-SemiBold';
            }
    
            .div-social {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 15%;
                width: 30%;
                margin-top: 2vh;

                img{
                    height: 2em;
                    width: 2em;
                    margin-top: 1vh;
                }
            }
        }
    
        .div2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;
            width: 30%;
    
            h2 {
                color: #AD8217;
                font-family: 'Open-Sans-SemiBold';
            }
    
            h3 {
                color: #AD8217;
                font-family: 'Open-Sans-SemiBold';
            }
    
            p {
                color: #d7d7d7;
                font-family: 'Open-Sans-SemiBold';
            }
        }
    }
}