.landingpage {
    display: flex;
    flex-direction: column;

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #0D263E;
        height: 9vh;
        border-bottom: 3px solid #AD8217;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .div-links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 35vw;
            margin-right: 5vw;
        }

        .logo{
            width: 13em;
            margin: 1vh;
        }

        .links {
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Open-Sans-SemiBold';
        }
    }

    .faixa-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60vh;

        .div-1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50vh;
            width: 50vw;

            .titulo{
                font-family: 'Open-Sans-SemiBold';
                font-size: 3em;
                color: #AD8217;
            }

            .f-faixa1 {
                font-family: 'Open-Sans-SemiBold';
                width: 40vw;
            }
            .tagp{
                margin-top: -10em;
            }
        }
        
        .button-faixa1 {
            font-family: 'Open-Sans-SemiBold';
            padding: 1em;
            background: #0D263E;
            color: #FFFFFF;
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            border: none;
            margin-right: 46.5vh;
        }
    
        .img-1 {
            height: 55vh;
        }
    }

    .faixa2-titulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #AD8217;
        font-size: 3em;
        font-family: 'Open-Sans-SemiBold'
    }
    .div-titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 6vh;

    }
    .section-card{
       background-color: #F5F5F5;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
    }
    .button-faixa2{
        margin: 3em;
        font-family: 'Open-Sans-SemiBold';
        color: #FFFFFF;
        background-color: #0D263E;
        padding: 1em 5em;
        border-radius: 5em;
        font-size: 15px;
        cursor: pointer;
    }
    hr{
        background-color: #0D263E;
        width: 100px;
        height: 2px;
        margin-top: -2em ;
        margin-bottom: 3em;
    }
    .div-hr{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }


    .section-sobrenos{
        display: flex;
        flex-direction: row;
    }
    .column-div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 30em;
    }
    .div-img-sobrenos{

    }
    .img-sobrenos{
        margin-left: 4em;
        width: 70em;
        height: 50em;
    }
    .div-titulo-sobrenos{
        margin-top: 5em;
        margin-right: 9em;
        
    }
    .titulo-sobrenos{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #AD8217;
        font-size: 3em;
        font-family: 'Open-Sans-SemiBold'
        
    }
    .div-texto-sobrenos{
        margin-top: 3em;
        width: 30em;
    }
    .texto-sobrenos{
        padding: 1em;
        font-family: 'Open-Sans-Light';
        font-size: 24px;
   
    }

    .div-button-sobrenos{
        margin-top: 9em;
        margin-right: 3em;
    }

    .button-sobrenos{

        font-family: 'Open-Sans-SemiBold';
        color: #FFFFFF;
        background-color: #0D263E;
        padding: 1em 3em;
        border-radius: 3em;
        font-size: 18px;
        cursor: pointer;
    }
}