.main{

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #0D263E;
        height: 10vh;
        width: 100%;
        border-bottom: 3px solid #AD8217;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
        .div-links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30%;
            margin-right: 2vw;
        }
    
        .logo{
            width: 13em;
            margin: 2vh;
        }
    
        .links {
            text-decoration: none;
                color: #FFFFFF;
                font-family: 'Open-Sans-SemiBold';
        }
    }
    .faixa1{
        display: flex;
        flex-direction: column;
        align-items: center;

        .titulo{
            text-align: center;
            color: #AD8217;
            font-size: 1em;
            font-family: 'Open-Sans-ExtraBold';
            letter-spacing: 8px;
            margin-top: 4em;
            margin-bottom: 0.2em;
        }
        
        hr{
            background-color: #AD8217;
            width: 23%;
            height: 0.3vh;
        }

        .div-texto{
          height: 50%;  
          width: 70%;
          margin-top:5em ;
          margin-bottom:10em ;

          .texto{
            font-family:Open-Sans-SemiBold;
            font-size: 2.8vh;
            text-align: center;
          }
        }
    }
}


