.tela-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D263E;
    height: 100vh;

    .div-cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        width: 40vw;
        background: linear-gradient(115.7deg, #FFFFFF 101.91%, rgba(255, 255, 255, 0) 101.91%);
        border-radius: 3vh;

        .logo {
            height: 10vh;
            margin-top: 5vh;
        }

        .div-inputs {
            display: flex;
            flex-direction: column;
            width: 30vw;
            margin-top: 3vh;

            .nome-input {
                font-family: 'Open-Sans-SemiBold';
                margin-top: 2vh;
            }

            .input {
                width: 30vw;
                height: 5vh;
                font-size: 1em;
                border: 0;
                outline: 1px solid #dadada;
                border-radius: .4em;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                padding:  1em 1em 1em 1em;
                font-family: 'Open-Sans-SemiBold';
            }

            .div-lembrar {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 2vh;
                width: 15vw;
                margin-top: 4vh;
                
                .input-check {
                    margin-left: 1vw;
                }

                .nome-lembrar {
                    font-family: 'Open-Sans-SemiBold';
                    font-size: 2vh;
                    margin-left: 1vw;
                }
            }

            .botao-entrar {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                width: 30vw;
                height: 5vh;
                background: #0D263E;
                border: none;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                border-radius: 1vh;
                margin-top: 4vh;
                color: #C0C0C0;
                font-size: 2.5vh;
                margin-top: 5em;
            }

            .botao-google {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                width: 30vw;
                height: 5vh;
                border: 2px solid #AD8217;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5vh;
                margin-top: 2vh;
                font-size: 2.5vh;

                .logo-google {
                    height: 4vh;
                    margin-right: 1vw;
                }
            }
        }

        .frase-final {
            font-family: 'Open-Sans-SemiBold';
            font-size: 2vh;
            color: #343434;
            text-align: center;
            margin-top: 2vh;
        }

        .span-final {
            color: #AD8217;
        }

        .span-final:hover {
            cursor: pointer;
        }
    }
}