.conteudos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #0D263E;
    border-radius: 10px;
    height: 9vh;
    width: 70vw;
    margin-top: 5vh;
    

    .info{
        color:white; 
        font-family: 'Open-Sans-SemiBold';
    }
    .botao{
        height: 15px;


        .foto{
            width: 1em;
        }
        .foto:hover {
            visibility: visible;
            cursor: alias;
        }
    }
    .container{
        width: 68vw;
        display: flex;
        justify-content: space-around;
    }
    

}
.conteudos:hover{
    cursor: pointer;
    opacity: (0.8);
}
