.conteudos-agendadas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #0D263E;
    border-radius: 10px;
    height: 9vh;
    width: 75vw;
    margin-top: 5vh;

    .div{
        display: flex;
        justify-content: space-between;
        width: 5vw;
    }
    

    .info{
        color:white; 
        font-family: 'Open-Sans-SemiBold';
    }
    .botao{
        height: 2em;
        
        z-index: 100;


        .foto{
            width: 20.19px;
            height: 20.19px;
            margin-top: 4px;
           
        }
        .foto-2{
            width: 1.7em;
        }
        .foto:hover {
            
            cursor: pointer;
        }
    }
    .container{
        width:70vw;
        display: flex;
        justify-content: space-around;
    }
    

}
.conteudos:hover{
    cursor: pointer;
    opacity: (0.8);
}

@media (max-width) {
    .conteudos-agendadas {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: #0D263E;
        border-radius: 10px;
        height: 9vh;
        width: 75vw;
        margin-top: 5vh;
    
        .div{
            display: flex;
            justify-content: space-between;
            width: 5vw;
        }
        
    
        .info{
            color:white; 
            font-family: 'Open-Sans-SemiBold';
        }
        .botao{
            height: 2em;
            
            z-index: 100;
    
    
            .foto{
                width: 20.19px;
                height: 20.19px;
                margin-top: 4px;
               
            }
            .foto-2{
                width: 1.7em;
            }
            .foto:hover {
                
                cursor: pointer;
            }
        }
        .container{
            width:70vw;
            display: flex;
            justify-content: space-around;
        }
        
    
    }
    .conteudos:hover{
        cursor: pointer;
        opacity: (0.8);
    }
    
}