.div-principal{
    display: flex;
    flex-direction: row;
    
    .assoc{
        margin-top: 2em;
    }
    .thead{
    
        .container-assoc{
            justify-content: space-around;
            width: 100vw;
            display: flex;
            margin-right: 7em;
        }
    }
}