.div-principal{
    display: flex;
    flex-direction: row;
    
    .assoc{
        margin-top: 2em;
    }
    .thead{
    
        .container-assoc{
            justify-content: space-around;
            width: 100vw;
            display: flex;
            margin-right: 7em;
        }
    }
}

@media (max-width: 1024px) {
    .div-principal{
        display: flex;
        flex-direction: row;
        
        .assoc{
            margin-top: 2em;
        }
        .thead{
        
            .container-assoc{
                justify-content: space-between;
                width: 100vw;
                display: flex;
                margin-left: 5em;
            }
        }
    }
}