.main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .cabecalho-associados {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #0D263E;
        height: 10vh;
        width: 100%;
        border-bottom: 3px solid #AD8217;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
            .logo{
                width: 10%;
                margin-left: 2vw;
            }

            .div-links{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 50%;
                width: 30%;
                margin-right: 2vw;
                
                .links {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-family: 'Open-Sans-SemiBold';
                }
            }

        .cadastro-image{
            height: 2.5em;
        }
    }
    
    .titulo-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;

        .row{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 5vh;
        }

        .input{
            margin-top: 1em;
            color: #000;
            background-color: #CECECE;
            outline: none;
            width: 25em;
            padding: 10px 20px;
            font-size: 15px;
            font-family: 'Open-Sans-SemiBold', sans-serif ;
            font-weight: 600;
            height: 2em;
            border-radius: 2em;
            border:none;


        }
        .Lupa{
            margin-top: 2vh;
            width: 1.5em;
            height: 1.5em;
        }
    }

    .div-principal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 70%;
        flex-wrap: wrap;

        .div-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 20vh;
            width: 40%;
            background-color: #0D263E;
            border-radius: 10px;

            .div-imagem {
                width: 30%;
                height: 100%;
                border-radius: 10px 0 0 10px;
                img{
                    width: 13vw;
                    height: 20vh;
                    border-radius: 10px 0px 0px 10px;
                }
            }

            .div-conteudo {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 65%;
                height: 100%;

                .div-nome {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 80%;
                    height: 15%;
                    font-family: 'Open-Sans-SemiBold';
                    color: #c7c7c7;
                }

                .imgs {
                    height: 3vh;
                    margin: 1vw;
                }

                .area {
                    font-family: 'Open-Sans-SemiBold';
                    color: #c7c7c7;
                    text-align: start;
                }

                .tel-loc {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 20%;

                    .div-indiv {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-family: 'Open-Sans-SemiBold';
                        color: #c7c7c7;
                    }
                }
            }
        }
    }
    
    .torne-se{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h1-associado{
        margin-top: 1em;
        text-align: center;
        color: #0D263E;
        font-size: 2em;
        font-family: 'Open-Sans-SemiBold';
    }

    .button-cadastro{
        margin: 2em 0 5em 0;
        font-family: 'Open-Sans-SemiBold';
        color: #FFFFFF;
        background-color: #0D263E;
        padding: 1em 2em;
        border-radius: 1.5em;
        font-size: 15px;
        cursor: pointer;
        border: none;
    }
}

@media (max-width: 1366px) {
    .main {
        display: flex;
        flex-direction: column;
    
        .cabecalho-associados {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #0D263E;
            height: 10vh;
            width: 100%;
            border-bottom: 3px solid #AD8217;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            
                .logo{
                    width: 10%;
                    margin-left: 2vw;
                }
    
                .div-links{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    height: 50%;
                    width: 30%;
                    margin-right: 2vw;
                    
                    .links {
                        text-decoration: none;
                        color: #FFFFFF;
                        font-family: 'Open-Sans-SemiBold';
                        font-size: 0.9em;
                    }
                }
    
            .cadastro-image{
                height: 2.3em;
            }
        }
        
        .titulo-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 3em;
    
            .row{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 5vh;
            }
    
            .input{
                margin-top: 1em;
                color: #000;
                background-color: #CECECE;
                outline: none;
                width: 25em;
                padding: 10px 20px;
                font-size: 15px;
                font-family: 'Open-Sans-SemiBold', sans-serif ;
                font-weight: 600;
                height: 2em;
                border-radius: 2em;
                border:none;
    
    
            }
            .Lupa{
                margin-top: 2vh;
                width: 1.5em;
                height: 1.5em;
            }
        }
        
        .torne-se{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .h1-associado{
            margin-top: 1em;
            text-align: center;
            color: #0D263E;
            font-size: 2em;
            font-family: 'Open-Sans-SemiBold';
        }
    
        .button-cadastro{
            margin: 2em 0 5em 0;
            font-family: 'Open-Sans-SemiBold';
            color: #FFFFFF;
            background-color: #0D263E;
            padding: 1em 2em;
            border-radius: 1.5em;
            font-size: 15px;
            cursor: pointer;
            border: none;
        }
    }
}