
.main-admin{
    display: flex;

    .container{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0D263E;
        width: 82vw;
        flex-grow: 1;
        border: 0;
        margin: 0;
        border-radius: 0;
        
        p{
            font-size: 2em;
            font-family: 'Open-Sans-SemiBold';
            color: #ad8217b1;
            height: 1.3em;
        }
        img{
            width: 22em;
            margin-top: 1em;
        }
    }
    
}