
.main-agendar{
    display: flex;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ecf0f1;
        flex-grow: 1;
        
    }
    .conteudo-div-principal{
        background-color: #f1f2f6;
        width: 70vw;
        height: 80vh;
        border-radius: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4em;

        h1{
            display: flex;
            justify-content: flex-start;
            width: 60vw;
            font-size: 3em;
            font-family: 'Open-Sans-SemiBold' ;
            color: #AD8217;
            padding-bottom: 1em;
            padding-left: 2em;
        }
        div{
            margin: .4em;
        }

        p{
            font-size: 1.4em;
            padding-bottom: .5em;
            font-family: 'Open-Sans-SemiBold';
            color: #1e272e;
        }

        input{
            width: 50vw;
            border-radius: .35em;
            border: 2px solid #AD8217;
            outline: none;
            font-size: 1.4em;
            padding: .5em;
            color: #808e9b;
        }
        select{
            width: 50vw;
            height: 5vh;
            border-radius: .35em;
            border: 2px solid #AD8217;
            outline: none;
            padding: .5em;
            font-size: 1.4em;
            font-family: 'Open-Sans-SemiBold';
            color: #808e9b;
            option{
                font-size: 1.5em;
            }
        
        }
        
        .data-hora{
            width: 50vw;
            display: flex;
            justify-content: flex-start;
            .data{
                font-family: 'Open-Sans-SemiBold';
                height: 5vh;
                width: 12vw;
            }
            .hora{
                font-family: 'Open-Sans-SemiBold';
                width: 12vw;
                height: 5vh;
                margin-left: 1em;
            }
        }
        .data-titulo{
            padding-left: .5em;
            width: 30vw;
        }

       
        
        button{
            display: flex;
            justify-content: flex-start;
            background: transparent;
            color: #1e272e;
            font-weight: 400;
            font-size: 1.5em;
            font-family: 'Open-Sans-SemiBold';
            padding: 5px 20px;
            border: 2px solid #AD8217;
            border-radius: .5em;
            transform: translate(0);
            overflow: hidden;
            cursor: pointer;
        }
        button:before{
            content: '';
            position: absolute;
            background: #AD8217;
            width: 8px;
            top: 0;
            bottom: 0;
            left: -32px;
            transform: rotate(-16deg);
            filter: blur(6px);
        }
        button:hover::before{
            left: calc(100% + 32px);
            transition: 0.75s;
        }
    
        textarea{
            width: 50vw;
            height: 8vw;
            border-radius: .35em;
            border: 2px solid #AD8217;
            outline: none;
            padding: .5em;
            font-family: 'Open-Sans-SemiBold';
            font-size: 1.5em;
            resize: none;
            margin-bottom: 1em;
        }
        
        
        .areas{
            font-family: 'Open-Sans-SemiBold';
            font-size: 1.1em;
            box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
        }
    }
    
}