.tela-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0D263E;

    .div-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90%;
        width: 35%;
        background-color: #ffffff;
        border-radius: 2em;

        img {
            height: 10vh;
        }

        .div-inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70%;
            width: 80%;

            .div-input {
                display: flex;
                flex-direction: column;
                height: 12%;
                width: 100%;

                p{
                    font-family: 'Open-Sans-SemiBold';
                    span{
                        color: red;
                    }
                }

                input {
                    width: 100%;
                    height: 0;
                    font-size: 1em;
                    outline: none;
                    border-radius: .4em;
                    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                    padding:  1em 1em 1em 1em;
                    font-family: 'Open-Sans-SemiBold';
                }

                 select {
                    width: 100%;
                    height: 100%;
                    font-size: 1em;
                    outline: none;
                    outline: 1px solid #dadada;
                    border-radius: .4em;
                    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                    font-family: 'Open-Sans-SemiBold';
                    color: #8d8d8d;
                }
            }
        }

        button {
            background-color: #0D263E;
            width: 50%;
            height: 7%;
            color: #FFFFFF;
            border-radius: 1em;
            cursor: pointer;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
            font-family: 'Open-Sans-SemiBold';
        }

        .entrar-con{
            font-family: 'Open-Sans-SemiBold';
            a{
                color: #AD8217;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1366px) {
    .tela-cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 160vh;
        background-color: #0D263E;
    
        .div-principal {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 96vh;
            width: 40vw;
            background-color: #ffffff;
            border-radius: 2em;
    
            img {
                height: 10vh;
            }
    
            .div-inputs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 70vh;
                width: 33vw;
    
                .div-input {
                    display: flex;
                    flex-direction: column;
                    height: 12%;
                    width: 100%;
    
                    p{
                        font-family: 'Open-Sans-SemiBold';
                        span{
                            color: red;
                        }
                    }
    
                    input {
                        width: 100%;
                        height: 0;
                        font-size: 1em;
                        border: 1px solid #dadada;
                        border-radius: .4em;
                        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                        padding:  1em 1em 1em 1em;
                        font-family: 'Open-Sans-SemiBold';
                    }
    
                     select {
                        width: 33vw;
                        height: 100vh;
                        font-size: 1em;
                        border: 1px solid #dadada;
                        outline: none;
                        border-radius: .4em;
                        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                        font-family: 'Open-Sans-SemiBold';
                        padding:  0.2em 1em 0.2em 1em;
                        color: #8d8d8d;
                    }
                }
            }
    
            button {
                background-color: #0D263E;
                width: 50%;
                height: 7%;
                color: #FFFFFF;
                border-radius: 1em;
                cursor: pointer;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                font-family: 'Open-Sans-SemiBold';
                border: none;
            }
    
            .entrar-con{
                font-family: 'Open-Sans-SemiBold';
                a{
                    color: #AD8217;
                    cursor: pointer;
                }
            }
        }
    }
}