.tela-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0D263E;

    header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
        height: 5vh;
        padding-left: 2em;
         p{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15vw;
                height: 4vh;
                color: #FFFFFF;
                cursor: pointer;
                font-family: 'Open-Sans-SemiBold';
                font-size: 1em;
         }
        }
    .div-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90%;
        width: 35%;
        background-color: #ffffff;
        border-radius: 2em;

        img {
            height: 10vh;
        }

        .div-inputs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70%;
            width: 80%;

            .div-input {
                display: flex;
                flex-direction: column;
                height: 12%;
                width: 100%;

                p{
                    font-family: 'Open-Sans-SemiBold';
                    span{
                        color: red;
                    }
                }

                input {
                   width: 100%;
                   height: 4em;
                   padding: 1em;
                   outline: none;
                   outline: 1px solid #dadada;
                   border: none;
                   font-family: 'Open-Sans-SemiBold';
                   border-radius: .4em;
                   box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                   font-size: 1em;
                   color: #8d8d8d;
                }

                 select {
                    width: 100%;
                    height: 100%;
                    font-size: 1em;
                    outline: none;
                    outline: 1px solid #dadada;
                    border-radius: .4em;
                    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                    font-family: 'Open-Sans-SemiBold';
                    color: #8d8d8d;
                }
            }
        }

        button {
            background-color: #0D263E;
            width: 50%;
            height: 7%;
            color: #FFFFFF;
            border-radius: 1em;
            cursor: pointer;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
            
        }

        .entrar-con{
            font-family: 'Open-Sans-SemiBold';
            a{
                color: #AD8217;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1366px) {
    .tela-cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140vh;
        background-color: #0D263E;
    
        .div-principal {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 96vh;
            width: 40vw;
            background-color: #ffffff;
            border-radius: 2em;
    
            img {
                height: 9vh;
            }
    
            .div-inputs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 70vh;
                width: 33vw;
                border: px solid red;
    
                .div-input {
                    display: flex;
                    flex-direction: column;
                    height: 7vh;
                    width: 33vw;
                    border: px red solid;

                    .input{
                        width: 33vw;
                        height: 5.5vh;
                        padding: 1em;
                        outline: none;
                        outline: 1px solid #dadada;
                        border: none;
                        font-family: 'Open-Sans-SemiBold';
                        border-radius: .4em;
                        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                        font-size: 0.9em;
                        color: #8d8d8d;
                    }
    
                    p{
                        font-family: 'Open-Sans-SemiBold';
                        font-size: 0.9em;
                        span{
                            color: red;
                        }
                    }
    
                    
                     select {
                        width: 33vw;
                        font-size: 0.9em;
                        border: 1px solid #dadada;
                        outline: none;
                        border-radius: .4em;
                        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                        font-family: 'Open-Sans-SemiBold';
                        padding:  0.4em 1em 0.4em 0.7em;
                        color: #8d8d8d;
                    }
                }
            }
    
            .button {
                background-color: #0D263E;
                margin-top: 1em;
                width: 50%;
                height: 5%;
                color: #FFFFFF;
                border-radius: 1em;
                cursor: pointer;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                font-family: 'Open-Sans-SemiBold';
                border: none;
            }
    
            .entrar-con{
                font-family: 'Open-Sans-SemiBold';
                font-size: 0.9em;
                a{
                    color: #AD8217;
                    cursor: pointer;
                }
            }
        }
    }
}