
.Login-main{
    height: 100vh;
    background-color: #0D263E;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        width: 20vw;
        height: 13vh;
        user-select: none;
        margin-bottom: 1em;
    }

    .div-bg-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 50vw;
        background-color: #FFFFFF;
        border-radius: 2em;
        
        .div-bg-input{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 13em;
            
            input{
                width: 35vw;
                height: 8vh;
                font-size: 1em;
                outline: none;
                border-radius: .4em;
                border: 2px solid #AD8217;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                padding:  1em 1em 1em 1em;
                font-family: 'Open-Sans-SemiBold';
                
            }
            input::placeholder{
                color: #636364;
            }
            p{
                
                font-family: 'Open-Sans-SemiBold';
                span{
                    color: red;
                }
            }
        }
        .div-bg-button{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 1em;

            .entrar-button{
                background-color: #0D263E;
                width: 35vw;
                height: 7vh;
                color: #FFFFFF;
                border-radius: 3.1em;
                cursor: pointer;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
                font-family: 'Open-Sans-SemiBold';
            }


        }
        .error{
            height: 3vh;
            color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open-Sans-SemiBold';
            font-size: .7em;
            margin-top: 1em;
        }
        
    }
    .cadastro-con{
        font-family: 'Open-Sans-SemiBold';
        font-size: .7em;
        margin-top: 1em;
        a{
            color: #AD8217;
            cursor: pointer;
            
        }
    }

    
}