
.main-menu-lateral-adv{
    background-color: #ffffff;
    height: 96vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;
        
        img{
            width: 15em;
            user-select: none;
        }
    }
    
    .menu-lateral-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 15vh;
       
        p{
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            font-size: 1.39em;
            text-align: center;
            width: 20vw;
        }
        
        img{
            width: 3em;
        }
    }
    
    .menu-lateral-items > div {
        display: flex;
        align-items: center;
        transition: .3s;
        cursor: pointer;
        padding-left: 2em;
        width: 100%;
        height: 10vh;
    }
    
    .menu-lateral-items > div:hover {
        background-color: #dfe6e9;
        width: 100%;
        border-radius: .5em;
    }

    .menu-lateral-sair{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       

        img{
            width: 3em;
            cursor: pointer;
        }

        p{
            padding-left: .5em;
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            cursor: pointer;
            font-size: 1.5em;
        }
    }
    
}

@media (max-width: 1024px) {
    
.main-menu-lateral-adv{
    background-color: #ffffff;
    height: 96vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15%;
        
        img{
            width: 10em;
            user-select: none;
        }
    }
    
    .menu-lateral-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       
        p{
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            font-size: .9em;
            text-align: center;
            width: 20vw;
        }
        
        img{
            width: 1.5em;
        }
    }
    
    .menu-lateral-items > div {
        display: flex;
        align-items: center;
        transition: .3s;
        cursor: pointer;
        padding-left: 2em;
        width: 100%;
        height: 10vh;
    }
    
    .menu-lateral-items > div:hover {
        background-color: #dfe6e9;
        width: 100%;
        border-radius: .5em;
    }

    .menu-lateral-sair{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       

        img{
            width: 2.3em;
            cursor: pointer;
        }

        p{
            padding-left: .5em;
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            cursor: pointer;
            font-size: 1.5em;
        }
    }
    
}
}