.main-menu-lateral{
    background-color: white;
    height: 100vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 12em;
            user-select: none;
        }
    }
    .menu-lateral-items{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 6em;
        p{
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            padding: 1.5em 1em;
            font-size: .7em;
        }
        img{
            width: 1.5em;
        }
    }
    .menu-lateral-items > div {
        display: flex;
        align-items: center;
        transition: .3s;
        cursor: pointer;
        padding-left: 2em;
    }
    
    .menu-lateral-items > div:hover {
        background-color: #0d263e;
    }

    .menu-lateral-sair{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;   

        img{
            width: 1.8em;
            cursor: pointer;
        }
        p{
            padding-left: .5em;
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            cursor: pointer;
        }
    }
    
}