.comp-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5vh;
    height: 90vh;
    width: 80%;

    .div-fileira {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 50%;
        width: 100%;

        .div-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 90%;
            width: 20%;
            background-color: #0D263E;
            border-radius: 10px;
            padding: 2vh;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .img-ambiental {
                    height: 13vh;
                }

                .h2-ambiental {
                    margin-top: -3vh;
                }

                img {
                    height: 10vh;
                }
    
                h2 {
                    font-family: 'Open-Sans-SemiBold';
                    color: #c2c2c2;
                }
            }

            p {
                font-family: 'Open-Sans-SemiBold';
                color: #c2c2c2;
                text-align: center;
            }
        }
    }
}

@media(max-width: 1024px){
    .comp-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 5vh;
        height: 90vh;
        width: 80%;
    
        .div-fileira {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 50%;
            width: 100%;
    
            .div-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 35vh;
                width: 20vw;
                background-color: #0D263E;
                border-radius: 10px;
                padding: 2vh;
    
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    height: 10vh;
    
                    .img-ambiental {
                        height: 124vh;
                    }
    
                    .h2-ambiental {
                        margin-top: -0.1em;
                    }
    
                    img {
                        height: 10vh;
                    }
        
                    h2 {
                        font-family: 'Open-Sans-SemiBold';
                        color: #FFFFFF;
                    }
                }
    
                p {
                    font-family: 'Open-Sans-SemiBold';
                    color: #FFFFFF;
                    text-align: center;
                    font-size: 0.7em;
                }
            }
        }
    }
}