.div-mae{
    margin: 0;

    .div-2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}
    .card-fileira1{
        width: 35vh;
        height: 35vh;
        padding: 3vh;
        border-radius: 20px;
        background-color: #0D263E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5vh;
        
        
        .div{
            height: 50%;
            .folha{
                width: 10em;
            }
        }
        img{
            width: 7em;
            margin: .5em;
        }
        p{
            color: #fff;
            font-family: 'Open-Sans-SemiBold';
            font-size: 13px;

        }
}
    
    .titulo-card{
        color: #fff;
        font-family: 'Open-Sans-SemiBold';
}
}