.Chat-page{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 95vw;
}
.cabeca {
        height: 12vh;
        width: 100vw;
        background-color: #0D263E;
        img{
            width: 16vw;
            padding: 1em;
        }
}
.content{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.main-menu-lateral {
    background-color: #ffffff;
    height: 80vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;

        img {
            width: 15em;
            user-select: none;
        }
    }

    .menu-lateral-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 15vh;
        p {
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            font-size: 1em;
            text-align: center;
            width: 20vw;
        }

        img {
            width: 2em;
        }
    }

    .menu-lateral-items>div {
        display: flex;
        align-items: center;
        transition: .3s;
        cursor: pointer;
        padding-left: 2em;
        width: 100%;
        height: 10vh;
    }

    .menu-lateral-items>div:hover {
        background-color: #dfe6e9;
        width: 100%;
        border-radius: .5em;
    }

    .menu-lateral-sair {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;

        img {
            width: 3em;
            cursor: pointer;
        }

        p {
            padding-left: .5em;
            color: #AD8217;
            font-family: 'Open-Sans-SemiBold';
            cursor: pointer;
            font-size: 1.5em;
        }
    }

}
.chat-content{
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: #0D263E;
    border: solid red 1px;
}
.chat-messages{
    display: flex;
    flex-direction: column;
    height: 72vh;
    

    .msg-left{
        background-color: #0D263E;
    }

    .msg-right{
        background-color: #ffff;
    }

}

.chat-header{
    height: 8vh;
    color: #FFFFFF;
    p{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 10vh;
        font-family: 'Open-Sans-SemiBold';
        padding-left: 1em;
        font-size: 1.5em;
        border-bottom: 2px solid #FFFFFF;
        div{
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 1.5em;
            width: 1.5em;
            border: 5px solid #FFFFFF;
            margin-right: .5em;
            
        }
    }
}
.input-message{
    height: 6em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0D263E;
    box-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.25);
    input{
        height: 3em;
        padding: 1em;
        font-family: 'Open-Sans-Semibold';
        font-size: 1.5em;
        outline: none;
        width: 50vw;
        border-radius: .5em;
    }
}
.main-menu-lateral {
    background-color: #ffffff;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;

    .menu-lateral-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        max-height: 8vh;


        p {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: .5em;
            height: 10vh;
            width: 100%;
            font-size: 1.5em;
            font-family: 'Open-Sans-SemiBold';
            padding-left: 1em;
            border-bottom: solid 2px  #AD8217;
            transition-duration: 1s;

            div {
                font-size: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                height: 1.5em;
                width: 1.5em;
                border: 5px solid #AD8217;
                margin-right: .5em;

            }
        }

        p:hover {
            background-color: #c9cfd1;
            width: 100%;
            height: 10vh;
            cursor: pointer;
        }


    }

    
    @media (max-width: 1366px) {

        
    }
}