.info-adv {
    display: flex;
    flex-direction: column;
    height: 100vh;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 10%;
        background: #0D263E;
        border-bottom: 3px solid #AD8217;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        img {
            height: 90%;
            margin-left: 2vw;
        }

        .div-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50%;
            width: 10%;
            margin-right: 5vw;

            img {
                height: 100%;
            }
        }
    }

    .div-geral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90%;
        width: 100%;

        h1 {
            font-family: 'Open-Sans-semibold';
            color: #0D263E;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 75%;
            width: 65%;
            background-color: #0D263E;
            border-radius: 20px;

            .div-1 {
                display: flex;
                flex-direction: row;
                width: 100%;

                .div-img {
                    height: 100%;
                    width: 30%;
    
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                    }
                }
    
                .div-cont {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    width: 60%;

                    .div-cont-1 {
                        height: 90%;
                        width: 60%;
                        margin-left: -15vw;
                        
                        .individual {
                            align-items: flex-start;
                            height: 10%;
                            width: 100%;

                            .p-t {
                                font-family: 'Open-Sans-semibold';
                                color: #AD8217;
                            }

                            .p-p {
                                font-family: 'Open-Sans-semibold';
                                color: #e1e1e1;
                            }
                        }
                    }
                }
            }

            .div-edit {
                display: flex;
                align-items: flex-end;
                height: 6%;
                width: 90%;

                img {
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .info-adv {
        display: flex;
        flex-direction: column;
        height: 100vh;
    
        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 10%;
            background: #0D263E;
            border-bottom: 3px solid #AD8217;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
            img {
                height: 90%;

            }
    
            .div-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 50%;
                width: 10%;
                margin-right: 5vw;
    
                img {
                    height: 1.9em;
                }
            }
        }
    
        .div-geral {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 90%;
            width: 100%;
    
            h1 {
                font-family: 'Open-Sans-semibold';
                color: #0D263E;
            }
    
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 75%;
                width: 65%;
                background-color: #0D263E;
                border-radius: 20px;
    
                .div-1 {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
    
                    .div-img {
                        height: 100%;
                        width: 30%;
        
                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: 20px;
                        }

                        .fotoperfil{
                            width: 18vw;
                            height: 51vh;
                        }
                    }
        
                    .div-cont {
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        width: 60%;
    
                        .div-cont-1 {
                            height: 90%;
                            width: 60%;
                            margin-left: -15vw;
                            
                            .individual {
                                align-items: flex-start;
                                height: 10%;
                                width: 100%;
    
                                .p-t {
                                    font-family: 'Open-Sans-semibold';
                                    color: #AD8217;
                                }
    
                                .p-p {
                                    font-family: 'Open-Sans-semibold';
                                    color: #e1e1e1;
                                }
                            }
                        }
                    }
                }
    
                .div-edit {
                    display: flex;
                    align-items: flex-end;
                    height: 6%;
                    width: 90%;
    
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}