.main{
    display: flex;
    flex-direction: column;

        .div-card{
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
        }
        
        .div-img{
            flex-direction: column;
            padding: 3vh;
            width: 13%;
            height: 20vh;
            border-radius: 20px;
            background-color: #0D263E;
            margin-bottom: 5vh;
            align-items: center;
            

            .ambiental{
                margin-top: -.5em;
                margin-left: 1.5em;
                width: 8em;
                height: 8em;
            }

            .civel{
                margin-top: 0.5em;
            }

            .criminalista{
                margin-top: -1em;
            }

            .tributario{    
                margin-top: -2em;
            }

            .imobiliario{
                margin-top: -3em;
                margin-left: -1em;
            }

            .familiar{
                margin-top: -2em;
            }
            
            .titulo-img{
                font-family: 'Open-Sans-ExtraBold';
                color: #fff;
                font-size: 25px;
            }


        }

        .div-texto{
            font-family: 'Open-Sans-SemiBold'; 
            font-size: 22px;
            width: 60em;
            margin-bottom: 1.5em;
        }
}